
<!DOCTYPE html>
<html lang="en">

<head>

	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>权限分配</title>
	<meta content="" name="description" />
	<meta content="" name="author" />

	<!-- Favicon -->
	<link rel="shortcut icon" href="../../static/Backstage/images/favicon.png" type="image/x-icon" />

	<!-- CORE CSS FRAMEWORK - START -->
	<link href="../../static/Backstage/plugins/pace/pace-theme-flash.css" rel="stylesheet" type="text/css" media="screen" />
	<link rel="stylesheet" href="https://www.jq22.com/jquery/bootstrap-3.3.4.css">
	<link href="../../static/Backstage/fonts/font-awesome/css/font-awesome.css" rel="stylesheet" type="text/css" />
	<link href="../../static/Backstage/css/animate.min.css" rel="stylesheet" type="text/css" />
	<link href="../../static/Backstage/plugins/perfect-scrollbar/perfect-scrollbar.css" rel="stylesheet" type="text/css" />
	<!-- CORE CSS FRAMEWORK - END -->

	<!-- CORE CSS TEMPLATE - START -->
	<link href="../../static/Backstage/css/style.css" rel="stylesheet" type="text/css" />
	<!-- CORE CSS TEMPLATE - END -->

</head>
<body class=" ">
<!-- START TOPBAR -->
<div class='page-topbar '>
	<div class='logo-area'>

	</div>
	<div class='quick-area'>
		<div class='pull-left'>

		</div>
		<div class='pull-right'>
			<ul class="info-menu right-links list-inline list-unstyled">
				<li class="profile">
					<a href="#" data-toggle="dropdown" class="toggle">
						<img src="../../static/Backstage/images/avatar-4.png" alt="user-image" class="img-circle img-inline">
						<span>Smith Wright <i class="fa fa-angle-down"></i></span>
					</a>
					<ul class="dropdown-menu profile animated fadeIn">
						<li>
							<a href="account-confirmation.html">
								<i class="fa fa-wrench"></i> Settings
							</a>
						</li>
						<li>
							<a href="ui-profile.html">
								<i class="fa fa-user"></i> Profile
							</a>
						</li>
						<li>
							<a href="ui-support.html">
								<i class="fa fa-info"></i> Help
							</a>
						</li>
						<li class="last">
							<a href="ui-login.html">
								<i class="fa fa-lock"></i> Logout
							</a>
						</li>
					</ul>
				</li>
			</ul>
		</div>
	</div>

</div>
<!-- END TOPBAR -->
<!-- START CONTAINER -->
<div class="page-container row-fluid container-fluid">

	<!-- SIDEBAR - START -->

	<div class="page-sidebar fixedscroll">

		<!-- MAIN MENU - START 　侧边导航栏　-->
		<div class="page-sidebar-wrapper" id="main-menu-wrapper">


			<ul class='wraplist'>
				<li class='menusection'>Main</li>
				<li class="">
					<a href="home.html">
						<i class="fa fa-home"></i>
						<span class="title">首页</span>
					</a>
				</li>

				<li class="">
					<a href="javascript:;">
						<i class="fa fa-home"></i>
						<span class="title">首页管理</span>
						<span class="arrow "></span>
					</a>
					<ul class="sub-menu">
						<li>
							<a class="" href="three_eals.html">三餐管理</a>
						</li>
						<li>
							<a class="" href="xxx.html">热门管理</a>
						</li>
						<li>
							<a class="" href="xxx.html">排行榜管理</a>
						</li>
					</ul>
				</li>
				<li class="open">
					<a href="javascript:;">
						<i class="fa fa-columns"></i>
						<span class="title">权限管理</span>
						<span class="arrow "></span>
					</a>
					<ul class="sub-menu">
						<li>
							<a class="active" href="permission-assignment.html">权限分配</a>
						</li>
						<li>
							<a class="" href="xxx.html">权限总览</a>
						</li>
					</ul>
				</li>
				<li class="">
					<a href="javascript:;">
						<i class="fa fa-sitemap"></i>
						<span class="title">用户管理</span>
						<span class="arrow"></span>
					</a>
					<ul class="sub-menu">
						<li>
							<a class="" href="xxx.html">用户查找</a>
						</li>
						<li>
							<a class="" href="xxx.html">用户添加</a>
						</li>
						<li>
							<a class="" href="xxx.html">用户修改</a>
						</li>
						<li>
							<a class="" href="xxx.html">用户注销</a>
						</li>
					</ul>
				</li>

				<li class="">
					<a href="javascript:;">
						<i class="fa fa-sitemap"></i>
						<span class="title">菜谱管理</span>
						<span class="arrow"></span>
					</a>
					<ul class="sub-menu">
						<li>
							<a class="" href="xxx.html">菜谱审核</a>
						</li>
						<li>
							<a class="" href="xxx.html">菜谱添加</a>
						</li>
						<li>
							<a class="" href="xxx.html">菜谱查找</a>
						</li>
						<li>
							<a class="" href="xxx.html">菜谱修改</a>
						</li>
						<li>
							<a class="" href="xxx.html" >菜谱删除</a>
						</li>
					</ul>
				</li>
				<li class="">
					<a href="javascript:;">
						<i class="fa fa-sitemap"></i>
						<span class="title">文章管理</span>
						<span class="arrow"></span>
					</a>
					<ul class="sub-menu">
						<li>
							<a class="" href="xxx.html">文章审核</a>
						</li>
						<li>
							<a class="" href="xxx.html">文章添加</a>
						</li>
						<li>
							<a class="" href="xxx.html">文章查找</a>
						</li>
						<li>
							<a class="" href="xxx.html">文章修改</a>
						</li>
						<li>
							<a class="" href="xxx.html" >文章删除</a>
						</li>
					</ul>
				</li>

				<li class="">
					<a href="javascript:;">
						<i class="fa fa-sitemap"></i>
						<span class="title">视频管理</span>
						<span class="arrow"></span>
					</a>
					<ul class="sub-menu">
						<li>
							<a class="" href="xxx.html">视频审核</a>
						</li>
						<li>
							<a class="" href="xxx.html">视频添加</a>
						</li>
						<li>
							<a class="" href="xxx.html">视频查找</a>
						</li>
						<li>
							<a class="" href="xxx.html">视频修改</a>
						</li>
						<li>
							<a class="" href="xxx.html" >视频删除</a>
						</li>
					</ul>
				</li>

				<li class="">
					<a href="javascript:;">
						<i class="fa fa-sitemap"></i>
						<span class="title">食材管理</span>
						<span class="arrow"></span>
					</a>
					<ul class="sub-menu">
						<li>
							<a class="" href="xxx.html">食材添加</a>
						</li>
						<li>
							<a class="" href="xxx.html">食材查找</a>
						</li>
						<li>
							<a class="" href="xxx.html">食材修改</a>
						</li>
						<li>
							<a class="" href="xxx.html" >食材删除</a>
						</li>
					</ul>
				</li>

				<li class="">
					<a href="javascript:;">
						<i class="fa fa-adn"></i>
						<span class="title">标签管理</span>
						<span class="arrow"></span>
					</a>
					<ul class="sub-menu">
						<li>
							<a href="javascript:;">
								<i class="fa fa-adn"></i>
								<span class="title">工艺签</span>
								<span class="arrow"></span>
							</a>

						<li>
							<a href="javascript:;">
								<i class="fa fa-adn"></i>
								<span class="title">口味签</span>
								<span class="arrow"></span>
							</a>
						</li>

						<li>
							<a href="javascript:;">
								<i class="fa fa-adn"></i>
								<span class="title">难度签</span>
								<span class="arrow"></span>
							</a>
						</li>

						<li>
							<a href="javascript:;">
								<i class="fa fa-adn"></i>
								<span class="title">准备时间签</span>
								<span class="arrow"></span>
							</a>
						</li>

						<li>
							<a href="javascript:;">
								<i class="fa fa-adn"></i>
								<span class="title">烹饪时间签</span>
								<span class="arrow"></span>
							</a>
						</li>

						<li>
							<a href="javascript:;">
								<i class="fa fa-adn"></i>
								<span class="title">人数签</span>
								<span class="arrow"></span>
							</a>
						</li>

						<li>
							<a href="javascript:;">
								<i class="fa fa-adn"></i>
								<span class="title">菜谱图片签</span>
								<span class="arrow"></span>
							</a>
						</li>

						<li>
							<a href="javascript:;">
								<i class="fa fa-adn"></i>
								<span class="title">菜系一级分类签</span>
								<span class="arrow"></span>
							</a>
						</li>
						<li>
							<a href="javascript:;">
								<i class="fa fa-adn"></i>
								<span class="title">菜系二级分类签</span>
								<span class="arrow"></span>
							</a>
						</li>
						<li>
							<a href="javascript:;">
								<i class="fa fa-adn"></i>
								<span class="title">食材一级分类签</span>
								<span class="arrow"></span>
							</a>
						</li>
						<li>
							<a href="javascript:;">
								<i class="fa fa-adn"></i>
								<span class="title">食材二级分类签</span>
								<span class="arrow"></span>
							</a>
						</li>
						<li>
							<a href="javascript:;">
								<i class="fa fa-adn"></i>
								<span class="title">健康一级分类签</span>
								<span class="arrow"></span>
							</a>
						</li>
						<li>
							<a href="javascript:;">
								<i class="fa fa-adn"></i>
								<span class="title">健康二级分类签</span>
								<span class="arrow"></span>
							</a>
						</li>

					</ul>
				</li>

				<li class="">
					<a href="javascript:;">
						<i class="fa fa-sitemap"></i>
						<span class="title">日志管理</span>
						<span class="arrow"></span>
					</a>
					<ul class="sub-menu">
						<li>
							<a class="" href="xxx.html">日志添加</a>
						</li>
						<li>
							<a class="" href="xxx.html">日志查找</a>
						</li>
						<li>
							<a class="" href="xxx.html">日志修改</a>
						</li>
						<li>
							<a class="" href="xxx.html" >日志删除</a>
						</li>
					</ul>
				</li>

			</ul>

		</div>
		<!-- MAIN MENU - END -->

	</div>
	<!--  SIDEBAR - END -->
	<!-- START CONTENT -->
	<section id="main-content" class=" ">
		<div class='col-xs-12'>
			<div class="page-title">

				<div class="pull-left">
					<!-- PAGE HEADING TAG - START -->
					<h1 class="title">定格</h1>
					<!-- PAGE HEADING TAG - END -->
				</div>

				<div class="pull-right hidden-xs">

				</div>
			</div>
			<div class="container">
				<!-- 在这里写入其他元素 -->
				<div class="col-md-12 col-sm-8 col-xs-12">
					<div class="page-title">
							<h2 class="title">角色管理</h2>
						<button class="btn btn-primary">刷新</button>
						<button class="btn btn-primary">新增</button>
						<div class="mail_content">
							<table class="table table-bordered table-striped table-hover">
								<thead >
									<th>角色名</th>
									<th class="">角色描述</th>
									<th>操作</th>
								</thead>
								<tbody>
									<tr>
										<td>xxx</td>
										<td>xxxxx</td>
										<td>
											<button class="btn btn-primary">查看</button><span>|</span>
											<button class="btn btn-primary">修改信息</button><span>|</span>
											<button class="btn btn-primary">分配资源</button><span>|</span>
											<button class="btn btn-primary">刷新</button>
										</td>
									</tr>
									<tr>
										<td>xxx</td>
										<td>xxxxx</td>
										<td>
											<button class="btn btn-primary">查看</button><span>|</span>
											<button class="btn btn-primary">修改信息</button><span>|</span>
											<button class="btn btn-primary">分配资源</button><span>|</span>
											<button class="btn btn-primary">刷新</button>
										</td>
									</tr>
									<tr>
										<td>xxx</td>
										<td>xxxxx</td>
										<td>
											<button class="btn btn-primary">查看</button><span>|</span>
											<button class="btn btn-primary">修改信息</button><span>|</span>
											<button class="btn btn-primary">分配资源</button><span>|</span>
											<button class="btn btn-primary">刷新</button>
										</td>
									</tr>
								</tbody>

							</table>
						</div>
					</div>
				</div>
<!--				资源分配-->
				<div class="col-md-12 col-sm-8 col-xs-12">
					<div class="page-title">
						<table class="table table-hover table-striped table-bordered">
							<thead>
							<th>URL</th>
							<th>选择</th>
							</thead>
							<tbody>
							<tr>
								<td><span class="">xxxxxxxxxxxxx</span></td>
								<td>
									<div class="input-group">
										<input type="checkbox"/>
									</div>
								</td>
							</tr>
							<tr>
								<td><span class="">xxxxxxxxxxxxx</span></td>
								<td>
									<div class="input-group">
										<input type="checkbox"/>
									</div>
								</td>
							</tr>
							<tr>
								<td><span class="">xxxxxxxxxxxxx</span></td>
								<td>
									<div class="input-group">
										<input type="checkbox"/>
									</div>
								</td>
							</tr>
							</tbody>
						</table>
					</div>
				</div>


				<div class="col-md-12 col-sm-8 col-xs-12">
					<div class="page-title">
						<h2 class="title">角色分配</h2>
						<div class="mail_content">
							<table class="table table-hover table-striped table-bordered">
								<thead>
								<th>ID</th>
								<th>用户名</th>
								<th>角色描述</th>
								<th>操作</th>
								</thead>
								<tbody>
								<tr>
									<td>000001</td>
									<td>xxxxx</td>
									<td>用于.....</td>
									<td><input type="text" class="form-control" placeholder="绑定角色" list="role_list1">
										<datalist id="role_list1">
											<option>xxxx</option>
											<option>xxxxx</option>
										</datalist>
									</td>
								</tr>
								<tr>
									<td>000001</td>
									<td>xxxxx</td>
									<td>用于.....</td>
									<td><input type="text" class="form-control" placeholder="绑定角色" list="role_list2">
										<datalist id="role_list2">
											<option>xxxx</option>
											<option>xxxxx</option>
										</datalist>
									</td>
								</tr>
								<tr>
									<td>000001</td>
									<td>xxxxx</td>
									<td>用于.....</td>
									<td><input type="text" class="form-control" placeholder="绑定角色" list="role_list3">
										<datalist id="role_list3">
											<option>xxxx</option>
											<option>xxxxx</option>
										</datalist>
									</td>
								</tr>
								<tr>
									<td>000001</td>
									<td>xxxxx</td>
									<td>用于.....</td>
									<td><input type="text" class="form-control" placeholder="绑定角色" list="role_list">
										<datalist id="role_list">
											<option>xxxx</option>
											<option>xxxxx</option>
										</datalist>
									</td>
								</tr>

								</tbody>
							</table>
						</div>
					</div>
				</div>
		</div>
		</div>
	</section>
</div>
	<!-- END CONTENT -->


</div>
<!-- END CONTAINER -->
<!-- LOAD FILES AT PAGE END FOR FASTER LOADING -->

<!-- CORE JS FRAMEWORK - START -->
<script src="../../static/Backstage/jquery/jquery-1.12.4.min.js"></script>
<script src="../../static/Backstage/js/jquery.easing.min.js"></script>
<!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
<script src="../../static/Backstage/jquery/bootstrap-3.3.7-dist/boots/bootstrap.min.js"></script>
<script src="../../static/Backstage/plugins/pace/pace.min.js"></script>
<script src="../../static/Backstage/plugins/perfect-scrollbar/perfect-scrollbar.min.js"></script>
<script src="../../static/Backstage/plugins/viewport/viewportchecker.js"></script>

<!-- CORE JS FRAMEWORK - END -->

<!-- OTHER SCRIPTS INCLUDED ON THIS PAGE - START -->

<script src="../../static/Backstage/plugins/autosize/autosize.min.js"></script>
<!-- OTHER SCRIPTS INCLUDED ON THIS PAGE - END -->

<!-- CORE TEMPLATE JS - START -->
<script src="../../static/Backstage/js/scripts.js"></script>
<!-- END CORE TEMPLATE JS - END -->

</body>

</html>
